<!DOCTYPE html>
<html class="no-js" lang="zh">
<head>
  <meta charset="utf-8">
  <%- include('../../../layout/commonHead')%>
  <!--css-->
  <link rel="stylesheet" href="/css/service/page-help/style.css">

  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/component.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="<%=getContext('swiper.css','css')%>">

  <!--js-->
  <script src="<%=getContext('jquery.min.js','commonjs')%>"></script>
  <script src="<%=getContext('jquery.cookie.js','commonjs')%>"></script>
  <script src="<%=getContext('swiper.js','commonjs')%>"></script>
</head>
<body>
<div class="main-layout">
  <%- include('../../../layout/header');%>
  <%- include('../../../component/banner');%>
  <% if(tabsData.length) { %>
    <%- include('../../../component/tabs');%>
  <% } %>
  <section class="main-wrap">
    <div class="main-content">
      <section class="help-main-wrap">
        <div class="tabs-content-wrap" data-anchor="quick">
          <%- include('./module-quick');%>
        </div>

        <div class="tabs-content-wrap" data-anchor="common">
          <%- include('./module-common');%>
        </div>

        <%- include('../../../component/form');%>
      </section>
    </div>
  </section>

  <%- include('../../../layout/footer');%>
  <%- include('../../../component/sideMenus');%>

</div>
<script src="<%=getContext('common.js')%>"></script>
<%- include('../../../layout/commonFoot');%>
</body>
</html>

