<!DOCTYPE html>
<html class="no-js" lang="zh">
  <head>
    <meta charset="utf-8">
    <%- include('../../layout/commonHead')%>
    <link rel="stylesheet" href="/css/page-index/style.css">
    <link rel="stylesheet" href="/common/plugins/css/swiper.css">
    <link rel="stylesheet" href="/common/plugins/video-js/video-js.css">
    <script src="/common/plugins/jquery.min.js"></script>
    <script src="/common/plugins/swiper.js"></script>

  </head>
  <body>
    <div class="main-layout">
      <%- include('../../layout/header');%>
      <section class="main-wrap">
        <div class="main-content">
          <section class="home-wrap">
            <section class="index-page-wrap">
              <div class="index-content">
                <%- include('./module-banner');%>
                <%- include('./module-product');%>
                <%- include('./module-solution');%>
                <%- include('./module-customer');%>
                <%- include('./module-logo');%>
                <%- include('./module-statics');%>
                <%- include('./module-certify');%>
                <%- include('./module-resource');%>
                <%- include('./module-news');%>
                <%- include('../../component/form');%>
              </div>
            </section>
          </section>
        </div>
      </section>

      <%- include('../../layout/footer');%>

    </div>
    <script src="/js/common.js"></script>
    <script src="/js/index/index.js"></script>
  </body>
</html>

