<!DOCTYPE html>
<html class="no-js" lang="zh">
<head>
  <meta charset="utf-8">
  <%- include('../../../layout/commonHead')%>
  <!--css-->
  <link rel="stylesheet" href="/css/about/page-news-main/style.css">

  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/component.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="<%=getContext('swiper.css','css')%>">

  <!--js-->
  <script src="<%=getContext('jquery.min.js','commonjs')%>"></script>
  <script src="<%=getContext('swiper.js','commonjs')%>"></script>
  <script src="<%=getContext('utils.js','commonjs')%>"></script>

</head>
<body>
<div class="main-layout">
  <%- include('../../../layout/header');%>
  <%- include('../../../component/banner');%>
  <% if(tabsData.length) { %>
    <%- include('../../../component/tabs');%>
  <% } %>
  <section class="main-wrap">
    <div class="main-content">
      <section class="news-main-wrap">
        <div class="news-wrap">
          <div class="news-content">
            <div class="news-view">
              <div class="left-wrap fn-left">
                <div class="tabs-view" key="all">
                  <div class="text-wrap">
                    <% categoryData.forEach(function(cate){ %>
                      <div class="tab-cell fn-left <% if(tabActiveKey === cate.key){ %>active<% } %>" key="<%=cate.key%>">
                        <%=cate.name%>
                        <span class="active-line"></span>
                      </div>
                    <% }); %>
                  </div>
                <!--<div class="tab-line"></div>-->
                </div>
                <div class="article-view">
                  <div id="article-list">
                    <% articleList.slice(0,10).forEach(function(news){ %>
                    <div class="article-item">
                      <div class="tit">
                        <a href="<%=news.href%>"><%=news.title%></a>
                        <% if(news.tag && news.tag.length > 0) { %>
                          <% news.tag.forEach(function(tag){ %>
                          <span class="tag"><%=tag%></span>
                          <% }); %>
                        <% } %>
                      </div>
                      <div class="wrap">
                        <img class="icon fn-left" src="/images/common/xinwen.svg" alt="新闻" />
                        <div class="fn-left author mar-l10"><%=news.author%></div>
                        <div class="fn-left line"></div>
                        <div class="fn-left date"><%=news.date%></div>
                      </div>
                      <% if(news.cover) { %>
                      <div class="cover-wrap">
                        <img alt="cover" src="<%=news.cover%>" />
                      </div>
                      <% } %>
                      <div class="desc <% if(news.cover){ %>w-small<% } %>"><%=news.summary%></div>
                      <a class="btn" href="<%=news.href%>">查看详情 ></a>
                      <div class="seq-line"></div>
                    </div>
                    <% }); %>

                    <% if(articleList.length < 1) { %>
                    <div class="empty-view-wrap">
                      <img src="/images/common/empty.svg"/>
                      <div class="empty-text">暂无数据</div>
                    </div>
                    <% } %>

                  </div>
                  <% if(articleList.length > 0) { %>
                    <%- include('../../../component/pagination');%>
                  <% } %>
                </div>
              </div>
              <div class="right-wrap fn-right">
                <div class="search-view">
                  <div class="tit">搜索</div>
                  <div class="search">
                    <input class="input" type="text" name="search" value="<%=searchKey%>">
                    <p class="icon"><img src="/images/common/search-white.svg" alt="搜索"></p>
                  </div>
                  <div class="search-text">
                    热门搜索：
                    <% searchHot.forEach(function(search){ %>
                    <span class="search-item"><%=search%></span>
                    <% }); %>
                  </div>
                </div>
                <div class="tag-view">
                  <div class="tit">热门标签</div>
                  <% tagList.forEach(function(tag){ %>
                  <a class="tag-item" href="/about/tag?tag=<%=tag.key%>"><%=tag.text%></a>
                  <% }); %>
                </div>
                <div class="news-link-view">
                  <div class="tit">热门文章</div>
                  <% hotArticleList.slice(0,5).forEach(function(news){ %>
                  <a class="news-item-wrap" href="<%=news.href%>">
                    <div class="point fn-left"></div>
                    <div class="news-item fn-left"><%=news.title%></div>
                  </a>
                  <% }); %>
                </div>
                <div class="news-link-view mar-b40">
                  <div class="tit">最新文章</div>
                  <% latestArticleList.slice(0,5).forEach(function(news){ %>
                  <a class="news-item-wrap" href="<%=news.href%>">
                    <div class="point fn-left"></div>
                    <div class="news-item fn-left"><%=news.title%></div>
                  </a>
                  <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <%- include('../../../component/form');%>
      </section>
    </div>
  </section>

  <%- include('../../../layout/footer');%>
  <%- include('../../../component/sideMenus');%>

</div>
<script src="<%=getContext('common.js')%>"></script>
<script src="<%=getContext('about/news/main.js')%>"></script>

<%- include('../../../layout/commonFoot');%>
</body>
</html>

