<div class="activity-product-wrap">
  <div class="activity-product-content">
    <% if(productData.title) { %>
    <div class="c-module-title <% if(!productData.desc){ %>c-module-b-60<% } %>"><%=productData.title%></div>
    <% } else { %>
    <div class="c-module-title <% if(!productData.desc){ %>c-module-b-60<% } %>">产品活动</div>
    <% } %>

    <!--描述-->
    <% if(productData.desc) { %>
    <div class="c-module-desc"><%=productData.desc%></div>
    <% } %>

    <div class="product-view">
      <% productData.content.forEach(function(item, index){ %>
      <% if(item.type === 'main') { %>
      <div class="main-cell fn-left">
        <div class="top-wrap">
          <div class="title"><%=item.title%></div>
          <div class="desc"><%=item.desc%></div>
        </div>
        <div class="middle-wrap">
          <div class="bg-wrap">
            <img class="bg-img" src="<%=item.cover%>" alt="活动" />
          </div>
          <div class="info-wrap p-absolute">
            <% item.advantage.forEach(function(ad){ %>
            <div class="advantage-wrap mar-t10">
              <img class="arrow fn-left" src="/images/common/gou-blue.svg" alt="活动" />
              <div class="ad-text"><%=ad%></div>
            </div>
            <% }); %>
            <a class="btn" href="<%=item.href%>?id=<%=item._id%>&category=product" <% if(item.nofollow){ %> ref="nofollow" <% } %>  <% if(item.target === '_blank'){ %> target="_blank" <% } %> ><%=item.btnText%></a>
          </div>
        </div>
        <div class="bottom-wrap">
          <div class="tag-wrap">
            <% item.tag.forEach(function(tag){ %>
            <span class="tag fn-left mar-r10 <% if(tag.key === 'fill'){ %>s-fill<% } %> <% if(tag.key === 'outline'){ %>s-outline<% } %>"><%=tag.text%></span>
            <% }); %>
          </div>
        </div>
      </div>
      <% } else { %>
      <div class="normal-cell fn-left <% if(index < 5 || (index - 4) % 3 !== 1){ %>mar-l40<% } %>">
        <img class="bg" src="<%=item.cover%>" alt="活动" />
        <div class="title"><%=item.title%></div>
        <div class="desc"><%=item.desc%></div>
        <div class="tag-wrap">
          <% item.tag.forEach(function(tag){ %>
          <span class="tag fn-left mar-r10 <% if(tag.key === 'fill'){ %>s-fill<% } %> <% if(tag.key === 'outline'){ %>s-outline<% } %>"><%=tag.text%></span>
          <% }); %>
        </div>
        <a class="btn" href="<%=item.href%>?id=<%=item._id%>&category=product" <% if(item.nofollow){ %> ref="nofollow" <% } %>  <% if(item.target === '_blank'){ %> target="_blank" <% } %> ><%=item.btnText%></a>
      </div>
      <% } %>
      <% }); %>
    </div>
  </div>
</div>
